<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div class="row">
				<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=" alt="140x140" class="img-thumbnail">
			</div>
			<div class="row top-buffer">
				Agile Code Camp,
			</div>
			<div class="row">
				<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
				New Taipei, Taiwan
			</div>
		</div>

		<div class="col-md-8">
			<div class="row">
		    <ul class="nav nav-tabs nav-justified">
		    	<li class="active"><a href="#all">All</a></li>
		    	<li><a href="#talent">Talent</a></li>
		    	<li><a href="#product">product</a></li>
		    	<li><a href="#promotion">promotion</a></li>
		    	<li><a href="#job">Job</a></li>
		    	<li><a href="#event">Event</a></li>
		    	<li><a href="#invest">invest</a></li>
		    </ul>
		  </div>

		  <!-- Post Panel -->
			<div class="row">
				<div class="panel panel-default">

					<div class="panel-heading top-buffer">
						<div class="row">
							<div class="col-md-12">
								<form>
									<textarea class="form-control" rows="3" ng-model="content"></textarea>
									<div class="top-buffer">
										<button type="button" class="btn btn-default" title="time">
										  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
										</button>
										<button type="button" class="btn btn-default" title="location">
										  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
										</button>
										<div class="pull-right">
											<button type="button" class="btn btn-primary" ng-click="doPost(content)">Post</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- message -->
				<div class="panel panel-default" ng-repeat="post in postList | sortByTime">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<div class="well well-lg" ng-bind="post.message"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</div>
</div>