<div class="container top-buffer" ng-controller="loginCtrl">
	<div class="panel panel-default col-md-4 col-md-offset-4">
	  <div class="panel-body">
			<form>
			  <div class="form-group">
			    <label for="account">Account</label>
			    <input type="email" class="form-control" id="account" placeholder="Email">
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="email" class="form-control" id="account" placeholder="Password">
			  </div>
			 	<button type="submit" class="btn btn-default col-md-6" ng-click="doLogin()">Login</button>
			 	<button type="button" class="btn btn-default col-md-6" ng-click="doSignUp()">Sign up</button>
			</form>
	  </div>
	</div>
</div>